<style>
    footer {
      background: radial-gradient(circle at center, #b11d1d 0%, #860000 100%);
      color: #fdf2dc;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      text-align: center;
      height: 8.44vh;
      font-weight: normal;
      position: relative;
    }
    a.logo-link {
        position: absolute;
        left: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
    }
    a.logo-link img {
        height: 100%;
    }
  </style>
  
  <footer>
    <a class="logo-link" href="index.html">
      <img src="https://raw.githubusercontent.com/Marfm25/Ritma/refs/heads/main/pic/1ritmalogo.png" alt="Logo">
    </a>
    <span>Contact: Contact@RitmaSwiss.ch</span>
  </footer>
  