<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
      height: 100vh;
      display: grid;
      grid-template-columns: 18.75vh 1fr;
      grid-template-rows: 11.25vh auto 8.44vh;
      grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
    }
    nav { grid-area: nav; }
    header { grid-area: header; }
    .main { grid-area: main; }
    footer { grid-area: footer; }
  </style>
</head>
<body>

  {% include Menu.html %}
  {% include Header.html %}
  {% include Body.html %}
  {% include Footer.html %}

</body>
</html>
